/* Estilos Gerais */
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    font-family: 'Rubik', sans-serif;
    color: #333;
}

p {
    color: #666;
}

header {
    background-color: #1e2a47;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo h1 {
    margin: 0;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

header .logo p {
    color: rgb(190, 190, 190);
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

header nav ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
}

.content {
    flex: 3;
    margin-right: 20px;
}

.news {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.news .date {
    font-size: 14px;
    color: #999;
}

.news a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.news a:hover {
    text-decoration: underline;
}

aside {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

aside h3 {
    margin-top: 0;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #007bff;
}

aside ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1e2a47;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

footer p {
    margin: 0;
    color: rgb(207, 207, 207);
}

/* Seção de Contato */
.contact {
    background-color: #fff;
    padding: 40px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}

.social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap; /* Responsivo, para que os itens se ajustem se necessário */
}

.social-icon {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
    width: 30%;
    max-width: 200px;
    justify-content: center; /* Alinha os ícones no centro */
    text-align: center;
}

.social-icon i {
    margin-right: 10px;
}

.social-icon:hover {
    background-color: #007bff;
    color: white;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

h1.dark-mode, h2.dark-mode, p.dark-mode {
    color: #ffffff;
}

header.dark-mode {
    background-color: #1c1c1c;
}

.news.dark-mode {
    background-color: #333;
    color: #ffffff;
}

.news.dark-mode h2 {
    color: #fff;
}

.news.dark-mode p, .news.dark-mode .date {
    color: #bbb;
}

.news.dark-mode a {
    color: #00bcd4;
}

.news.dark-mode a:hover {
    color: #ffffff;
}



/* Estilo do modo escuro */
footer.dark-mode {
    background-color: #333;
    color: #fff;
}

.social-links.dark-mode i{
    color: #666;
}

.social-links.dark-mode a{
    color: #666;
}
.contact.dark-mode {
    background-color: #333;
    color: #fff;
}

.contact.dark-mode h2{
    color: white;
}
.contact.dark-mode p{
    color: white;
}
.contact.dark-mode a {
    color: white
}

aside.dark-mode {
    background-color: #333;
    color: #fff;
}

aside.dark-mode ul li a {
    color: #00bcd4;
}

aside.dark-mode ul li a:hover {
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .logo h1 {
        font-size: 24px;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul li {
        margin: 10px 0;
    }

    main {
        flex-direction: column;
    }

    .content {
        margin-right: 0;
        width: 100%;
    }

    aside {
        width: 100%;
        margin-top: 20px;
    }

    .news {
        margin-bottom: 15px;
    }

    .contact h2 {
        font-size: 24px;
    }

    .social-links {
        flex-direction: column;
        align-items: center;
    }

    .social-icon {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .news h2 {
        font-size: 20px;
    }

    .social-icon {
        font-size: 18px;
        padding: 8px 15px;
    }

    button {
        width: 100%;
    }
}

/*  */

.video-container {
    margin-top: 10px;
    width: 100%;
    max-width: 560px;
    height: 315px;
    display: none; /* Inicialmente oculto */
}

.video-container iframe {
    width: 100%;
    height: 100%;
}



